body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #666;
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  color: white;
}

.board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 16px;
}

.board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background-color: #fff;
  height: 200px;
  width: 200px;
}